<div class="container animated fadeIn faster mt-5">
  <div class="row">
    <h2>Registrar Casos <strong> Covid-19 </strong></h2>
    <div class="col text-right">
      <button [routerLink]="['/casos']"
              type="button"
              class="btn btn-danger float-right">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>

  </div>
  <div class="row">
    <!-- Esto debe funcionar paa ocultar parte del formulario  -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"
           (click)="pageDiv(0)"
           [ngClass]="{'active': !partFrom['0'].activo }">
        {{ partFrom['0'].title }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           (click)="pageDiv(1)"
           [ngClass]="{'active': !partFrom['1'].activo }">
        {{ partFrom['1'].title }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           (click)="pageDiv(2)"
           [ngClass]="{'active': !partFrom['2'].activo }">
        {{ partFrom['2'].title }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           (click)="pageDiv(3)"
           [ngClass]="{'active': !partFrom['3'].activo }">
        {{ partFrom['3'].title }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           (click)="pageDiv(4)"
           [ngClass]="{'active': !partFrom['4'].activo }">
        {{ partFrom['4'].title }}
        </a>
      </li>
    </ul>
  </div>
  <hr>



  <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>
      <!-- Datos Persoanles -->
      <div [ngClass]="{'d-none': partFrom['0'].activo }">

        <!-- Pais -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Pais</label>
          <div class="col">
            <select class="form-control"
                    name="pais"

                    formControlName="pais">
              <option *ngFor="let pais of paises"
                      [value] = "pais.paisId">
                {{ pais.nombre }}
              </option>
            </select>
            <span *ngIf="validarCampo('pais')"
                  class="text-danger">
                  Seleccione un Pais
            </span>
          </div>
        </div>


        <!-- Tipo de Docuemento -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Tipo de Documento</label>
          <div class="col ">
            <select class="form-control"
                    name="tipDoc"
                    formControlName="tipDoc">
              <option *ngFor="let Doc of tipoDoc"
                      [value] = "Doc.tipoDocumentoIdentidadId">
                {{ Doc.descripcionLarga }}
              </option>

            </select>
            <span *ngIf="validarCampo('tipDoc')"
                  class="text-danger">
                  Seleccione un Documento
            </span>
          </div>
        </div>

        <!-- N° de Docuemento -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Numero de Documento</label>
          <div class="col mt-auto mb-auto">

            <input class="form-control"
                   type="text"
                   placeholder="Numero de Documento"
                   formControlName="nroDoc">
            <span *ngIf="validarCampo('nroDoc')"
                  class="text-danger">
              Ingrese 5 letras
            </span>
          </div>
        </div>

        <!-- Fecha de Nacimiento-->
        <div class="form-group row">
          <label class="col-2 col-form-label">Fecha de nacimiento</label>
          <div class="col mt-auto mb-auto">

            <input class="form-control"
                   type="date"
                   formControlName="fecNac">
            <span *ngIf="validarCampo('fecNac')"
                  class="text-danger">
              Ingrese Fecha
            </span>
          </div>
        </div>

        <!-- Sexo -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Sexo</label>
          <div class="col mt-auto mb-auto">

            <div class="form-check form-check-inline">

              <input class="form-check-input"
                      type="radio"
                      value="true"
                      formControlName="sexo">
              <label class="form-check-label">
                Masculino
              </label>
            </div>

            <div class="form-check form-check-inline">

              <input class="form-check-input"
                      type="radio"
                      value="false"
                      formControlName="sexo">
              <label class="form-check-label">
                Femenino
              </label>
            </div>

          </div>
        </div>

        <!-- Telefono -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Telefono</label>
          <div class="col mt-auto mb-auto">

            <input class="form-control"
                   type="text"
                   placeholder="Telefono"
                   formControlName="telefono"  >
            <span *ngIf="validarCampo('telefono')"
                  class="text-danger">
              Ingrese 5 letras
            </span>
          </div>
        </div>

        <!-- Correo -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Correo</label>
          <div class="col mt-auto mb-auto">

            <input class="form-control"
                   type="text"
                   placeholder="Correo electrónico"
                   formControlName="correo">
            <span *ngIf="validarCampo('correo')"
                  class="text-danger">
              Ingrese 5 letras
            </span>
          </div>
        </div>

        <!-- Estado -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Estado</label>
          <div class="col mt-auto mb-auto">
            <select class="form-control"
                    formControlName="estado">
              <option *ngFor="let est of estados"

                      [value]="est.estadoid">
                {{ est.nombre }}
              </option>
            </select>
            <span *ngIf="validarCampo('estado')"
                  class="text-danger">
                  Seleccione un Estado
            </span>
          </div>
        </div>

      </div>

      <!-- Dirección -->
      <div [ngClass]="{'d-none': partFrom['1'].activo }">

         <!-- Departamento -->
         <div class="form-group row">
          <label class="col-2 col-form-label">Departamento</label>
          <div class="col">
            <select class="form-control"
                    formControlName="depDir">
              <option *ngFor="let dep of departamento"
                      [value]="dep.departamentoId">
                {{ dep.nombre }}
              </option>
            </select>
            <span *ngIf="validarCampo('depDir')"
                  class="text-danger">
                  Seleccione un Departamento
            </span>
          </div>
         </div>

        <!-- Provincia -->
        <div class="form-group row">
         <label class="col-2 col-form-label">Provincia</label>
         <div class="col">
           <select class="form-control"
                   formControlName="proDir">
             <option
                     [value]="0" >
               [ Seleccione Provincia ]
             </option>
             <option *ngFor="let pro of provincia"
                     [value]="pro.provinciaId" >
               {{ pro.nombre }}
             </option>
           </select>
           <span *ngIf="validarCampo('proDir')"
                 class="text-danger">
                 Seleccione un Provincia
           </span>
         </div>
        </div>

        <!-- Distrito -->
        <div class="form-group row">
         <label class="col-2 col-form-label">Distrito</label>
         <div class="col">
           <select class="form-control"
                   formControlName="disDir">
             <option
                     [value]="0">
               [ Seleccione Distrito ]
             </option>
             <option *ngFor="let dis of distrito"
                     [value]="dis.distritoId">
               {{ dis.nombre }}
             </option>
           </select>
           <span *ngIf="validarCampo('disDir')"
                 class="text-danger">
                 Seleccione un Distrito
           </span>
         </div>
        </div>

        <!-- Dirección -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Dirección</label>
          <div class="col">

            <input class="form-control"
                  type="text"
                  placeholder="Dirección"
                  formControlName="desDir"
                  [class.is-invalid]="validarCampo('desDir')">
            <span *ngIf="validarCampo('desDir')"
                  class="text-danger">
              Ingrese 5 letras
            </span>
          </div>
        </div>
      </div>

      <!-- Contacto -->
      <div [ngClass]="{'d-none': partFrom['2'].activo }">
        <!-- Nombre del contacto -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Nombre del contacto</label>
          <div class="col mt-auto mb-auto">

            <input class="form-control"
                   type="text"
                   placeholder="Nombre del contacto"
                   formControlName="nomCont"
                   [class.is-invalid]="validarCampo('nomCont')">
            <span *ngIf="validarCampo('nomCont')"
                  class="text-danger">
              Ingrese 5 letras
            </span>
          </div>
        </div>

        <!-- Parentesco -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Parentesco</label>
          <div class="col mt-auto mb-auto">

            <input class="form-control"
                   type="text"
                   placeholder="Parentesco"
                   formControlName="parentesco"
                   [class.is-invalid]="validarCampo('parentesco')">
            <span *ngIf="validarCampo('parentesco')"
                  class="text-danger">
              Ingrese 5 letras
            </span>
          </div>
        </div>

        <!-- Teléfono de contacto -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Teléfono de contacto</label>
          <div class="col mt-auto mb-auto">

            <input class="form-control"
                   type="text"
                   placeholder="Teléfono de contacto"
                   formControlName="telefonoCont"
                   [class.is-invalid]="validarCampo('telefonoCont')">
            <span *ngIf="validarCampo('telefonoCont')"
                  class="text-danger">
              Ingrese 5 letras
            </span>
          </div>
        </div>

        <!-- Correo de Contacto -->
        <div class="form-group row">
          <label class="col-2 col-form-label">Correo de Contacto</label>
          <div class="col mt-auto mb-auto">

            <input class="form-control"
                   type="text"
                   placeholder="Correo de Contacto"
                   formControlName="CorreoCont"
                   [class.is-invalid]="validarCampo('CorreoCont')">
            <span *ngIf="validarCampo('CorreoCont')"
                  class="text-danger">
              Ingrese 5 letras
            </span>
          </div>
        </div>
      </div>

      <!-- Sintomas -->
      <div [ngClass]="{'d-none': partFrom['3'].activo }">
        <div class="form-group row">
          <div class="col mt-auto mb-auto">
            <!-- Pregunta 1 -->
            <div class="col form-check form-check-inline">

              <input class="form-check-input"
                      type="checkbox"
                      name="genero"
                      value="M">
              <label class="form-check-label">
                ¿Tienes sensación de falta de aire (en aucencia de cualquier otra patología que justifique este sintoma) ?
              </label>
            </div>
            <!-- Pregunta 2 -->
            <div class="col form-check form-check-inline mt-3">

              <input class="form-check-input"
                      type="checkbox"
                      name="genero"
                      value="F">
              <label class="form-check-label">
                ¿Tiene fiebre? (+37.7°C)
              </label>
            </div>

            <!-- Pregunta 3 -->
            <div class="col form-check form-check-inline mt-3">

              <input class="form-check-input"
                      type="checkbox"
                      name="genero"
                      value="F">
              <label class="form-check-label">
                ¿Tienes tos seca y presistente?
              </label>
            </div>

            <!-- Pregunta 4 -->
            <div class="col form-check form-check-inline mt-3">

              <input class="form-check-input"
                      type="checkbox"
                      name="genero"
                      value="F">
              <label class="form-check-label">
                ¿Has tenido contacto con algun paciente con Covid-19?
              </label>
            </div>

            <!-- Pregunta 5 -->
            <div class="col form-check form-check-inline mt-3">

              <input class="form-check-input"
                      type="checkbox"
                      name="genero"
                      value="F">
              <label class="form-check-label">
                ¿Tienes sintomatología gastroinstentinal?
              </label>
            </div>

          </div>
        </div>
      </div>

      <!-- Situaciones de riesgo -->
      <div [ngClass]="{'d-none': partFrom['4'].activo }">
        <!-- Pregunta 1 -->
        <div class="col">

          <div class="form-group row">
            <div class="row w-100">
              <label class="col-2 col-form-label">Pais</label>

            </div>
            <div class="row w-100">
              <div class="col mt-auto mb-auto">

                <div class="form-check form-check-inline">

                  <input class="form-check-input"
                          type="radio"
                          name="genero"
                          value="M">
                  <label class="form-check-label">
                    Masculino
                  </label>
                </div>

                <div class="form-check form-check-inline">

                  <input class="form-check-input"
                          type="radio"
                          name="genero"
                          value="F">
                  <label class="form-check-label">
                    Femenino
                  </label>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
















    <div class="form-group row" [ngClass]="{'d-none': partFrom['0'].activo }">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col">
        <button type="submit" class="btn btn-outline-primary btn-block">
          Guardar
        </button>
      </div>
    </div>


  </form>

  <br>
  <pre>
    Estado del formulario: {{ forma.valid }}
    <br>
    Status : {{ forma.status }}
  </pre>

  <pre>{{ forma.value | json }}</pre>
  <pre>{{ forma.value.depDir | json }}</pre>
