<h1>Listado de <strong>Casos Covid-19</strong></h1>
<hr>

<div class="col">
  <!-- Esto debe funcionar paa ocultar parte del formulario  -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         (click)="pageDiv(0)"
         [ngClass]="{'active': !partFrom['0'].activo }">
      {{ partFrom['0'].title }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         (click)="pageDiv(1)"
         [ngClass]="{'active': !partFrom['1'].activo }">
      {{ partFrom['1'].title }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         (click)="pageDiv(2)"
         [ngClass]="{'active': !partFrom['2'].activo }">
      {{ partFrom['2'].title }}
      </a>
    </li>
  </ul>
</div>
<hr>

<form autocomplete="off" [formGroup]="forma" (ngSubmit)="filtrar()">
  <div class="row">
    <div class="col-sm-3">
      <div class="card text-white bg-info mb-3 mt-3" style="max-width: 18rem;">


        <!-- <div class="card-header">Holi</div> -->
        <div class="card-body">
          <label for="basic-url">Buscar por nombre</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName="Nombre">
          </div>
          <label for="basic-url">Buscar por Numero de Documento</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName="NroDocumentoIdentidad">
          </div>
          <div class="text-center">
            <div class="mb-1">
              <button type="submit" class="btn btn-light btn-block">Buscar</button>
            </div>
            <div class="mb-1">
              <button type="button" class="btn btn-light btn-block">Limpiar</button>
            </div>
            <div>
              <button type="button" class="btn btn-light btn-block" [routerLink] = "['/registro', 'nuevo']">Nuevo</button>
            </div>


          </div>


        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="row text-left">
        <div class="col-4 ml-auto">
          <select class="form-control"
                  formControlName="EstadoId">
            <option *ngFor="let est of estados"

                    [value]="est.estadoid"
                    id="estado">
              {{ est.nombre }}
            </option>
          </select>
        </div>
        <!-- <div class="col text-right">
          <button [routerLink] = "['/registro']"
                  type="button"
                  class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
          </button>
        </div> -->
      </div>
      <table *ngIf="!cargando && casos.length > 0"
              class="table mt-3 animated fadeIn faster">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo Documento</th>
            <th scope="col">Nro. Documento</th>
            <th scope="col">Fec. Registro</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let caso of casos; let i = index">
            <th scope="row">{{ i +1 }}</th>
            <td>{{ caso.apellidoPaterno }} {{ caso.apellidoMaterno }} {{ caso.nombre }} </td>
            <td>{{ caso.tipoDocumentoIdentidadDesc}}</td>
            <td>{{ caso.nroDocumentoIdentidad}}</td>
            <td>{{ caso.fechaNacimiento | date:'short'}}</td>

            <td>{{ caso.estadoDesc }}</td>
            <td>
              <button class="btn btn-info mr-1"
                      [routerLink] = "['/registro', caso.ciudadanoId ]">
                <i class="fa fa-pen"></i>

              </button>
            </td>
          </tr>
        </tbody>
      </table>


      <div *ngIf="cargando"
           class="alert alert-info text-center mt-3 animated fadeIn faster"
           role="alert">
        <h4 class="alert-heading">Cargando</h4>
        <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
          Espere por favor
        </p>
      </div>

      <div *ngIf="!cargando && casos.length === 0"
           class="alert alert-warning text-center mt-3 animated fadeIn faster"
           role="alert">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
          <i class="fa fa-exclamation fa-2x"></i>
        </p>
        <p class="mb-0">
          Espere por favor
        </p>
      </div>

    </div>
  </div>

</form>


